@media (max-width: 400px) {
  .header .container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: .4rem;
  }

  .logo {
    font-size: 25px;
  }

  .nav a{
    font-size: 14px;
  }

/*======= Hero ===========*/
.hero {
  height: 350px;
}

.hero .container {
  width: 100%;
  z-index: 2;
}

.hero .container h1 {
  font-size: 2.5rem;
  text-align: center;
  line-height: 1.3;
  font-weight: 600;
}

.hero .container p {
  width: 100%;
  text-align: center;
  font-size: 16px;
}

/*======== Skills ===========*/
.skills{
  height: 100%;
}

.skills .container{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.skills .skill{
  width: 90%;
}

.skills .skill {
  padding: 1.5rem;
}

/*========== Profiles ============*/
  .profiles{
    height: 100%;
  }

  .profiles .container{
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    align-items: center;
  }

  .profiles .profile{
    width: 90%;
  }

  .profiles .profile img {
    width: 15rem;
    height: 8rem;
  }

/*============= Projects =============*/
  .projects {
    padding: 2rem 0;
  }

  .projects__head {
    font-size: 2.5rem;
  }

  .projects .project-area {
    display: flex;
    flex-direction: column;
  }

  .projects .project img {
    width: 15rem;
    height: 6rem;
  }

  .projects .project h2 {
    font-size: 25px;
  }
}